# Copy this file to .env and fill in your actual values
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_ACCESS_TOKEN=
LINKEDIN_PERSON_URN=

NVIDIA_NIM_API_KEY=
NVIDIA_NIM_MODEL=meta/llama-3.2-90b-vision-instruct

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
FRONTEND_PREVIEW_URL=http://192.168.29.89:3001/preview-incoming
BACKEND_IP=192.168.29.88

UPLOAD_DIR=uploads
SECRET_KEY=